body {
    background: grey;
    
}

h1 {
    text-decoration: underline;
    font-size: 15px;
    text-align: left;
}
p {
    text-align: center;
    font-size: 15px;
}
h2 {
    font-size: 20px;
    text-align: center;
}
h3 {
    font-size: 18px;
    text-align: center;
}
div {
   display: flex;
   justify-content: center; 
}
