body {
    background: grey;
    
}

h1 {
    text-decoration: underline;
    font-size: 25px;
    text-align: center;
    color: red;
    margin-top: auto;
}
p {
    text-align: center;
    font-size: 15px;
}
h2 {
    font-size: 12px;
    text-align: center;
}

.Security {
   display: flex;
   justify-content: center; 
}

.topnav {
    background-color: red;
    overflow-x: hidden;
}
.topnav a {
    float: left;
    display: block;
    color: blue;
    text-align: center;
    font-size: 13px;
    padding: 16px 14px;
    
}